@font-face {
	font-family: 'BrandonRegular';
	src: url('../../assets/fonts/Brandon_reg.otf') format('truetype');
	//src: url('fonts/Pistilli.woff') format('woff');
	// url('fonts/Pistilli-Roman.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonMedium';
	src: url('../../assets/fonts/Brandon_med.otf') format('truetype');
	//src: url('fonts/Pistilli.woff') format('woff');
	// url('fonts/Pistilli-Roman.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonLight';
	src: url('../../assets/fonts/Brandon_light.otf') format('truetype');
	//src: url('fonts/Pistilli.woff') format('woff');
	// url('fonts/Pistilli-Roman.eot');
	font-weight: normal;
	font-style: normal;
}
//@font-face {
//	font-family: 'BrandonThin';
//	src: url('../../assets/fonts/Brandon_thin.otf') format('truetype');
//	//src: url('fonts/Pistilli.woff') format('woff');
//	// url('fonts/Pistilli-Roman.eot');
//	font-weight: normal;
//	font-style: normal;
//}
//
@font-face {
	font-family: 'BrandonBlack';
	src: url('../../assets/fonts/Brandon_blk.otf') format('truetype');
	//src: url('fonts/Pistilli.woff') format('woff');
	// url('fonts/Pistilli-Roman.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonBold';
	src: url('../../assets/fonts/Brandon_bld.otf') format('truetype');
	//src: url('fonts/Pistilli.woff') format('woff');
	// url('fonts/Pistilli-Roman.eot');
	font-weight: normal;
	font-style: normal;
}